.imagen_header{
    height: 300px;
}
.imagen_historia{
    width: 500px;
    height: 355px;
}
.imagen_aside{
    width: 355px;
}
.imagen_login{
    width: 25px;
    height: 25px;;
}
.fondo{
    background-color: rgb(124, 121, 121);
}

li:hover{
    background-color: rgb(72, 114, 31);
    color: white;
}