
.container{
    width: 100%;
    background: rgb(241, 236, 230);
}
.fondo{
    background: rgb(235, 228, 220);
    width: 100%;
    height: 20%;
}
.colorTexto{
    color: blue;
    font-size: 20px;
}

.caja{
    margin-top: 20px;
    height: 50px; 
}

#poema{
    text-align: center;
    color: blue;
    font-family: "Mystery Quest", cursive;
}
button{
    color: red !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0, 0,0,0);
    border: 2px solid;
    border-color: red;
    transition: all is ease;
    position: relative;
}

button:hover{
    background: red;
    color: #fff !important;
}

#link:hover{
    background: red;
    color: #fff !important;    
}

#link2:active{
    background: rgb(209, 96, 96);
    color: #fff !important;    
}

.polarois{
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
    margin-top: 20px;
    margin-left: 310px;
    margin-right: 400px;
    margin-bottom: 20px auto;
    padding: 10px 10px 50px 10px;
}

header{
    background-color: slateblue;
    color: white;
    text-align: center;
}
nav{
    top: 100px;
    background-color: black;
    color: white;
    text-align: right;
    font-size: 30px;
}
ul{
    display: inline;
    color: cornsilk;
}
section{
    color: white;
    background-color: rgb(127, 136, 77);
    width: 60%;
    height: 100%;
    float: left;

}
aside{
    
    color: white;
    background-color: rgb(68, 69, 102);
    width: 40%;
    height:100%;
    float: right;
}
footer{
    color: white;
    background-color: rgb(122, 182, 206);
    width: 100%;
    columns: 4;
}
